[submodule "external/Market_Simulator_Engine"]
	path = external/Market_Simulator_Engine
	url = https://github.com/Nek97/Market_Simulator_Engine.git
[submodule "docs_theme"]
	path = docs_theme
	url = https://github.com/Nek97/Docusaurus_Autistic_Theme.git
[submodule "src/core_models"]
	path = src/core_models
	url = ../mlops_core_models
[submodule "src/core_ingestion"]
	path = src/core_ingestion
	url = ../mlops_core_ingestion
